.circle {
    position: relative;
    width: 10px;
    height: 10px;
    z-index: 1000000000000000000000000;
    border: none;
   
    border-radius: 50%;

}

#red {
    background-color: rgba(255, 0, 0, 0.562);
}

#purple {
    background-color:  #5b2cdd81;
}
#yellow {
    background-color: rgba(255, 255, 0, 0.479);
}