.header button {
    color: white;
    background: transparent;
    padding: 10px 20px;
    border: none;
    outline: none;
    position: relative;
    }
    @import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


    body {
        font-family: 'Abel', sans-serif;
      
      }

      .header button a {
        position: relative;
        color: inherit;
      }