.reuse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    background-color: transparent !important;
    color: white;
}